body {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.backgroundPicture {
    width: 100%;
    z-index: 50;
    height: 70px;
    top: 0px;
}

#text {
    margin-top: 60px;
    border: 1px solid #ccc;
    height: 600px;
}