html {
    background-color: rgb(209, 209, 209);
    padding: 0px;
    height: 1600px;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.backgroundPicture{
    position: fixed;
    width: 100%;
    z-index: 50;
    height: 70px;
    top: 0px;
}

#homePageUINavigationBar {
    position: fixed;
    z-index: 50;
    top: 70px;
    left: 13px;
    height: 60px;
    width: 100%;
    background-color: rgb(126, 126, 126);
    padding: 0px;
    overflow: hidden;
    box-shadow: 6px 3px 13px 2px #000000b0;
}

#homePageUINavigationBar img {
    height: 60px;
    margin: auto auto;
    float: left;
}

#homePageUINavigationBar form {
    margin-top: 15px;
    height: 40px;
    width: 250px;
    float: right;
}

#homePageUINavigationBar input {
    width: 120px;
    border-radius: 50px;
    border: 2px solid rgb(55, 62, 63);
    background: rgb(253, 242, 200);
    transition: .3s linear;
    float: left;
}

#homePageUINavigationBar input:focus {
    width: 140px;
    color: #324b4e;
}

#homePageUINavigationBar button {
    width: 60px;
    float: left;
    top: -2px;
    border-radius: 25px;
    border: 1.5px solid rgb(253, 242, 200);
    background: #400302;
    text-align: center;
    color: rgb(236, 236, 236);
}

#homePageUINavigationBar button:after {
    color: #324b4e;
}

#carouselBar {
    margin-top: 160px;
    background-color: rgba(255, 255, 255, 0);
}
